<div class="container" ng-app="WebModule">

  <div class="container-fluid" ng-controller="AuthController">
    <%- include login %>
  </div>

  <div id="content">
    <div ng-view></div>
  </div>

</div>
